# Servidor
PORT=3000
NODE_ENV=production
CORS_ORIGIN=https://tudominio.com

# Base de Datos
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=Eibelstore_db
DB_SSL=false 

# Opcional: Para DigitalOcean Managed DB
DATABASE_URL=

# Seguridad
JWT_SECRET=tu_secreto_super_seguro_aqui_64_bytes

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
